<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Congelados Marcela </title>
	<link rel="shortcout icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav id="nav">
		<a href="../index.html">
     <img src="../img/logo.webp" alt="logo de congelados Marcela" class="logoCon">
     </a>

     <ul>
     	
     	<li>
     		<a href="productos.html">Productos</a>
     	</li>
     	<li>
     		<a href="nosotros.html">Nosotros</a>
     	</li>
     	<li>
     		<a href="../index.html#contacto">Contacto</a>
     	</li>
     	<li>
     		<a href="preguntas frecuentes.html">Preguntas Frecuentes</a>
     	</li>
     	<li>
     		<a href="envios.html">Zonas de Envios</a>
     	</li>
     </ul>
	</nav>
	<header>
		<h1 class="envTit">Zonas de envios</h1>
	</header>
<main>
	<section>
		<article class="cenTex zonEnv">
			<h2>Estas son las zonas de envios, si te encontras dentro de las areas nombradas llegamos hasta tu casa</h2>
			<p>
				Lunes: Mataderos - Liniers
				</p>
				<p>Martes: Mataderos - Lugano - Villa Madero</p>
				<p>Miercoles: Villa Insuperable - Lomas del Mirador - Tablada</p>
				<p>Jueves: Villa Luro - Parque Avellaneda</p>
				<p>Viernes: Mataderos - Liniers - Villa Luro</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nulla placeat eveniet! Dicta sequi minima ab consequatur accusantium mollitia eos tenetur numquam, impedit. Molestiae id, itaque repudiandae. Voluptates, eum voluptatum.</p>
		</article>
	</section>
</main>
<footer class="pie">
<h2>Seguinos en nuestras redes</h2>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="Face">
			<a href="https://www.instagram.com/" target="_blank" class="fbImg">
			<img src="../img/instagram.jpg" alt="Insta">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="Twitter">
			</a>
	 </footer>
	 </body>