<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Congelados Marcela </title>
	<link rel="shortcout icon" href="../img/favicon.png">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav id="nav">
		<a href="../index.html">
     <img src="../img/logo.webp" alt="logo de congelados Marcela">
     </a>

     <ul>
     	
     	<li>
     		<a href="productos.html">Productos</a>
     	</li>
     	<li>
     		<a href="nosotros.html">Nosotros</a>
     	</li>
     	<li>
     		<a href="../index.html#contacto">Contacto</a>
     	</li>
     	<li>
     		<a href="preguntas frecuentes.html">Preguntas Frecuentes</a>
     	</li>
     	<li>
     		<a href="envios.html">Zonas de Envios</a>
     	</li>
     </ul>
	</nav>
	<header>
		<img src="../img/frutos2.jpeg" alt="Imagen" class="encabezadoImg">
	</header>
	<main>
		<section>
			<article class="textDestacado textCenter novedadesArticulo">
				<h1>¿Quienes somos?</h1>
				<br>
				<p>Somos una empresa familiar dedicada a la venta de frutos y verduras congeladas.
				<br> Los productos vienen con un proceso de congelamiento previo (IQF), ya cortados y lavados, listos para usar.
				<br> 
				Todos los congelados los podrás usar para preparar tus comidas, acompañar tus postres o darles el uso que desees.
				</p>
			</article>
			<article class="textCenter textDestacado novedadesArticulo">
				<h2>Nuestra empresa</h2>
				<br>
				<p>Nos dedicamos a este rubro desde hace 5 años y estamos creciendo dia a dia gracias a nuestros clientes que nos acompañan y nos siguen eligiendo por la calidad de nuestros productos.
					
				</p>
			</article>
		</section>
	</main>
	<footer class="pie">
		<h3>Seguinos en nuestras redes</h3>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="Face" class="fbImg">

<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.jpg" alt="Insta" class="fbImg">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="Twitter"
				class="fbImg">
			</a>
	 </footer>
	 	 </body>