<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Congelados Marcela </title>
	<link rel="shortcout icon" href="../img/favicon.png">
 <link rel="stylesheet" href="../css/style.css">
</head>
<body class="contenedor">
	
	<nav id="nav" class="navBar">
		<a href="../index.html">
     <img src="../img/logo.webp" alt="logo de congelados Marcela" class="logo">
     </a>

     <ul class="navMenu">
     	
     	<li class="navmenuItem">
     		<a href="productos.html">Productos</a>
     	</li>
     	<li>
     		<a href="nosotros.html">Nosotros</a>
     	</li>
     	<li>
     		<a href="../index.html#contacto">Contacto</a>
     	</li>
     	<li>
     		<a href="preguntas frecuentes.html">Preguntas Frecuentes</a>
     	</li>
     	<li>
     		<a href="envios.html">Zonas de Envios</a>
     	</li>
     </ul>
	</nav>
	<header id="header">
		<h1>Preguntas Frecuentes</h1>
		<img src="../img/producto2.jpeg" alt="" class="imgPreg">
	</header>
	<section id="section">
		<div class="box">
			<div class="container">¿Realizan envios?</div>
			<div class="container">¿Cual es la presentacion de los productos?</div>
			<div class="container">¿Cuales son las formas de pago?</div>
			<div class="container">¿La entrega es solo mediante envios?</div>
			<div class="container">¿Cuanto tiempo duran los productos?</div>
			<div class="container">¿Que dias trabajan?</div>
		</div>

	</section>
     <footer class="pie" id="footer">
     	<h2>Seguinos en nuestras redes</h2>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="Face" class="fbImg">
			<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.jpg" alt="Insta" class="fbImg">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="Twitter"
				class="fbImg">
			</a>
	 </footer>
	 </body>