<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Congelados Marcela </title>
	<link rel="shortcout icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="gridContenedor">
	<nav id="nav">
		<a href="../index.html">
     <img src="../img/logo.webp" alt="logo de congelados Marcela" class="logoCon">
     </a>

     <ul>
     	
     	<li>
     		<a href="productos.html">Productos</a>
     	</li>
     	<li>
     		<a href="nosotros.html">Nosotros</a>
     	</li>
     	<li>
     		<a href="../index.html#contacto">Contacto</a>
     	</li>
     	<li>
     		<a href="preguntas frecuentes.html">Preguntas Frecuentes</a>
     	</li>
     	<li>
     		<a href="envios.html">Zonas de Envios</a>
     	</li>
     </ul>
	</nav>
		<main id="Productos">
			<section class="img">
				<figure>
					<img src="../img/arandanos.png" alt="" class="pipi">
					<figcaption>Arandanos</figcaption>
					<p class="precio">$700</p>
				</figure>
				<figure>
					<img src="../img/frutillas.png" alt="">
					<figcaption>Frutillas</figcaption>
					<p class="precio">$700</p>
				</figure>
				<figure>
					<img src="../img/moras.png" alt="">
					<figcaption>Moras</figcaption>
					<p class="precio">$1580</p>
				</figure>
				<figure>
					<img src="../img/franui.png" alt="">
					<figcaption>Frambuesas bañadas en chocolate</figcaption>
					<p class="precio">$900</p>
				</figure>
				<figure>
					<img src="../img/frambuesas.png" alt="">
					<figcaption>Frambuesas</figcaption>
					<p class="precio">$2700</p>
				</figure>
			</section>
		</main>
	 <footer class="pie" id="footer">
	 	<h2>Seguinos en nuestras redes</h2>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="face" class="fbImg">
			<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.jpg" alt="Insta" class="fbImg">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="Twitter"
				class="fbImg">
			</a>
	 </footer>
</body>
<html>